<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>chat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/chat-list.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/chat.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/all.css" />
</head>
<body>
    <div id="body">
            <div id="chat-list">
                    <div class="friend-card">
                        <img src="../people.png"/>
                        <label>friend name</label>
                        <div class="status"></div>
                    </div>
                    <div class="friend-card">
                        <img src="../people.png"/>
                        <label>friend name</label>
                        <div class="status"></div>
                    </div>
                    <div class="friend-card">
                        <img src="../people.png"/>
                        <label>friend name</label>
                        <div class="status"></div>
                    </div>
                    <div class="friend-card">
                        <img src="../people.png"/>
                        <label>friend name</label>
                        <div class="status"></div>
                    </div>
                    <div class="friend-card">
                            <img src="../people.png"/>
                            <label>friend name</label>
                            <div class="status"></div>
                    </div>
                    <div class="friend-card">
                        <img src="../people.png"/>
                        <label>friend name</label>
                        <div class="status"></div>
                    </div>
                    <div class="friend-card">
                            <img src="../people.png"/>
                            <label>friend name</label>
                            <div class="status"></div>
                    </div>
                    <div class="friend-card">
                        <img src="../people.png"/>
                        <label>friend name</label>
                        <div class="status"></div>
                    </div>
                    <div class="friend-card">
                        <img src="../people.png"/>
                        <label>friend name</label>
                        <div class="status"></div>
                    </div>
                    <div class="friend-card">
                        <img src="../people.png"/>
                        <label>friend name</label>
                        <div class="status"></div>
                    </div>
                    
                </div>
        <div id="conversation">
            <div id="chat-head"> 
                <a><i class="fas fa-arrow-alt-circle-left"></i></a>
                <label>Amr Hossam</label>
            </div>
            <div id="dialogue">
                <div>
                    <p>amr hossam sayed</p>
                </div>
                <div>
                    <p>
                        hello guys, I'm Amr from Egypt, It's big honor for me to stand here today 
                        in front of you to speak openly and honestly about my life
                    </p>
                </div>
            </div>
            <div id="input">
                <textarea></textarea>
                <button>Send</button>
            </div>
        </div>
    </div>
</body>
<script src="../scripts/client/chat.js"></script>
</html>