<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/home.css" />
    <script src="/scripts/client/client_home.js"></script>
</head>
<body>
    <header>
        <input id='search'  />
        <button value="search">search</button>
        <div>Home</div>
    </header>
    <div class = "side-bar">
        <img src="./../assets/<%=name%>.jpg" id="prof_img" alt="user image">
    </div>
    <div id = "friends">
        
    </div>
</body>
</html>