<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/socket.io/socket.io.js"></script>
    <script src="../scripts/client/socket-controller.js"></script>  
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/all.css" /> 
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/header.css" /> 
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/home.css" /> 
    
</head>
<body>

    <%-include header.ejs %>

    <div id="body">

        <div id="chat-list">
    
            <div class="friend-card">
                <img src="../people.png"/>
                <label>friend name</label>
                <div class="status"></div>
            </div>
            <div class="friend-card">
                <img src="../people.png"/>
                <label>friend name</label>
                <div class="status"></div>
            </div>
            <div class="friend-card">
                <img src="../people.png"/>
                <label>friend name</label>
                <div class="status"></div>
            </div>
            <div class="friend-card">
                <img src="../people.png"/>
                <label>friend name</label>
                <div class="status"></div>
            </div>
            <div class="friend-card">
                    <img src="../people.png"/>
                    <label>friend name</label>
                    <div class="status"></div>
            </div>
            <div class="friend-card">
                <img src="../people.png"/>
                <label>friend name</label>
                <div class="status"></div>
            </div>
            <div class="friend-card">
                    <img src="../people.png"/>
                    <label>friend name</label>
                    <div class="status"></div>
            </div>
            <div class="friend-card">
                <img src="../people.png"/>
                <label>friend name</label>
                <div class="status"></div>
            </div>
            <div class="friend-card">
                <img src="../people.png"/>
                <label>friend name</label>
                <div class="status"></div>
            </div>
            <div class="friend-card">
                <img src="../people.png"/>
                <label>friend name</label>
                <div class="status"></div>
            </div>
            
        </div>

        <div id="posts">
            
            <div class="post">
                <div class="head">
                    <img src="../niko.jpg"/>
                    <a class="name">Amr Hossam</a>
                    <label class="time">2 hours</label>
                </div>
                <div class="content">fnjdngs
                    sgsdfg
                    dfgdgfd mkmf sdsldfsdf  sdflksdnf s fkjsd k sf
                </div>
                <div class="tail">
                    <div class="like"><a><i class ="far fa-hand-point-up"></i></a></div>
                    <div class="dislike"><a><i class ="	far fa-hand-point-down"></i></a></div>
                    <div class="comment"><a><i class ="far fa-comment"></i></a></div>  
                    <div class="share"><a><i class ="fa fa-share-alt"></i></a></div>   
                    <div class="comments"></div>
                </div>
            </div>

            <div class="post">
                <div class="head">
                    <img src="../niko.jpg"/>
                    <a class="name">Amr Hossam</a>
                    <label class="time">2 hours</label>
                </div>
                <div class="content">fnjdngs
                    sgsdfg
                    dfgdgfd mkmf sdsldfsdf  sdflksdnf s fkjsd k sf
                </div>
                <div class="tail">
                    <div class="like"><a><i class ="far fa-hand-point-up"></i></a></div>
                    <div class="dislike"><a><i class ="	far fa-hand-point-down"></i></a></div>
                    <div class="comment"><a><i class ="far fa-comment"></i></a></div>  
                    <div class="share"><a><i class ="fa fa-share-alt"></i></a></div>   
                    <div class="comments"></div>
                </div>
            </div>

            <div class="post">
                <div class="head">
                    <img src="../niko.jpg"/>
                    <a class="name">Amr Hossam</a>
                    <label class="time">2 hours</label>
                </div>
                <div class="content">fnjdngs
                    sgsdfg
                    dfgdgfd mkmf sdsldfsdf  sdflksdnf s fkjsd k sf
                </div>
                <div class="tail">
                    <div class="like"><a><i class ="far fa-hand-point-up"></i></a></div>
                    <div class="dislike"><a><i class ="	far fa-hand-point-down"></i></a></div>
                    <div class="comment"><a><i class ="far fa-comment"></i></a></div>  
                    <div class="share"><a><i class ="fa fa-share-alt"></i></a></div>   
                    <div class="comments"></div>
                </div>
            </div>

           
        </div>

        

    </div>




</body>
</html>