<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="all" href="../styles/all.css" />
    <link rel="stylesheet" type="text/css" media="all" href="../styles/header.css" />
    <link rel="stylesheet" type="text/css" media="all" href="../styles/user.css" />    
    <link rel="stylesheet" type="text/css" media="all" href="../styles/post.css" />
</head>
<body>
   
    <%- include header.ejs %>

    <div id="subheader">
        <div id="cover">
            <img  src="../earth.jpg"/>
        </div>
        <div id="personal">
            <div>
                <img src="../niko.jpg"/>
            </div>
            <div>
                <label id="user-name">Amr Hossam Sayed Amin</label>
                <label id="join-time">joined 3 Aug 2015</label>
            </div>
            <div id="activity-log-item">
                <button>Activity Log</button>
            </div>
            <div id="follow-item">
                <button>follow</button>
            </div>
            <div id="send-req-item">
                <button>Add Friend</button>
            </div>
            <div id="send-msg-item">
                <button>send message</button>
            </div>
        </div>   
    </div>

    <div id="body">
        <div id="aside">
            <div id="info">
                <ul>
                    <li>Amr hossam sayed amin mohammed mohammed</li>
                    <li>Amr hossam sayed amin mohammed mohammed</li>
                    <li>Amr hossam sayed amin mohammed mohammed</li>
                    <li>Amr hossam sayed amin mohammed mohammed</li>
                </ul>
            </div>

            <div id="friends">
                <a>Friends</a>
                <div class="friend-card">
                    <div>
                        <label>My name is Amr</label>
                    </div>
                </div>
                <div class="friend-card">
                    <div>
                        <label>My name is Amr</label>
                    </div>
                </div>
                <div class="friend-card">                    
                    <div>
                        <label>My name is Amr</label>
                    </div>
                </div>
                <div class="friend-card">                    
                    <div>
                        <label>My name is Amr</label>
                    </div>
                </div>
                
            </div>
        </div>
    
        
        <div id="posts">
            <div class="post">
                <div class="head">
                    <img src="../niko.jpg"/>
                    <div>
                        <a class="name">Amr Hossam  sayed Amin Mohamed Mohamed</a>
                        <label class="time">2 hours</label>
                    </div>
                    <button class="drop-down-btn"><i class="fas fa-ellipsis-v" ></i></button>
                </div>
                <div class="content">
                    fnjdngs sgsdfg
                    dfgdgfd mkmf sdsldfsdf  sdflksdnf s fkjsd k sf
                </div>
                <div class="tail">
                    <div class="like"><a><i class ="fas fa-thumbs-up"></i></a></div>
                    <div class="dislike"><a><i class ="	fas fa-thumbs-down"></i></a></div>
                    <div class="comment-btn"><a><i class ="far fa-comment"></i></a></div>  
                    <div class="share"><a><i class ="fa fa-share-alt"></i></a></div>   
                    <div class="comments">
                        <a href="" class="show-all">Show all</a>
                        <div class="comment">
                            <img src="../niko.jpg"/>
                            <label>Niko Bellic</label>
                            <label>2 mins</label>
                            <p>hello, I'm niko bellic, welcoming you from ukraine</p>
                        </div>
    
                        <div class="comment">
                            <img src="../niko.jpg"/>
                            <label>Niko Bellic</label>
                            <label>2 mins</label>
                            <p>hello, I'm niko bellic, welcoming you from ukraine</p>
                        </div>
                        <div class="comment">
                            <img src="../niko.jpg"/>
                            <label>Niko Bellic</label>
                            <label>2 mins</label>
                            <p>hello, I'm niko bellic, welcoming you from ukraine</p>
                        </div>
    
                        <div class="comment">
                            <img src="../niko.jpg"/>
                            <label>Niko Bellic</label>
                            <label>2 mins</label>
                            <p>hello, I'm niko bellic, welcoming you from ukraine</p>
                        </div>
    
                        <div class="comment-input">
                                <textarea placeholder="add comment ..." a></textarea>
                                <button>comment</button>
                        </div>
                        
                    </div>
                </div>
            </div>
    
            <div class="post">
                <div class="head">
                    <img src="../niko.jpg"/>
                    <div>
                        <a class="name">Amr Hossam  sayed Amin Mohamed Mohamed</a>
                        <label class="time">2 hours</label>
                    </div>
                    <button class="drop-down-btn"><i class="fas fa-ellipsis-v" ></i></button>
                </div>
                <div class="content">
                    fnjdngs sgsdfg
                    dfgdgfd mkmf sdsldfsdf  sdflksdnf s fkjsd k sf
                </div>
                <div class="tail">
                    <div class="like"><a><i class ="fas fa-thumbs-up"></i></a></div>
                    <div class="dislike"><a><i class ="	fas fa-thumbs-down"></i></a></div>
                    <div class="comment-btn"><a><i class ="far fa-comment"></i></a></div>  
                    <div class="share"><a><i class ="fa fa-share-alt"></i></a></div>   
                    <div class="comments">
                        <a href="" class="show-all">Show all</a>
                        <div class="comment">
                            <img src="../niko.jpg"/>
                            <label>Niko Bellic</label>
                            <label>2 mins</label>
                            <p>hello, I'm niko bellic, welcoming you from ukraine</p>
                        </div>
    
                        <div class="comment">
                            <img src="../niko.jpg"/>
                            <label>Niko Bellic</label>
                            <label>2 mins</label>
                            <p>hello, I'm niko bellic, welcoming you from ukraine</p>
                        </div>
                        <div class="comment">
                            <img src="../niko.jpg"/>
                            <label>Niko Bellic</label>
                            <label>2 mins</label>
                            <p>hello, I'm niko bellic, welcoming you from ukraine</p>
                        </div>
    
                        <div class="comment">
                            <img src="../niko.jpg"/>
                            <label>Niko Bellic</label>
                            <label>2 mins</label>
                            <p>hello, I'm niko bellic, welcoming you from ukraine</p>
                        </div>
    
                        <div class="comment-input">
                                <textarea placeholder="add comment ..." a></textarea>
                                <button>comment</button>
                        </div>
                        
                    </div>
                </div>
            </div>
    
            <div class="post">
                <div class="head">
                    <img src="../niko.jpg"/>
                    <div>
                        <a class="name">Amr Hossam  sayed Amin Mohamed Mohamed</a>
                        <label class="time">2 hours</label>
                    </div>
                    <button class="drop-down-btn"><i class="fas fa-ellipsis-v" ></i></button>
                </div>
                <div class="content">
                    fnjdngs sgsdfg
                    dfgdgfd mkmf sdsldfsdf  sdflksdnf s fkjsd k sf
                </div>
                <div class="tail">
                    <div class="like"><a><i class ="fas fa-thumbs-up"></i></a></div>
                    <div class="dislike"><a><i class ="	fas fa-thumbs-down"></i></a></div>
                    <div class="comment-btn"><a><i class ="far fa-comment"></i></a></div>  
                    <div class="share"><a><i class ="fa fa-share-alt"></i></a></div>   
                    <div class="comments">
                        <a href="" class="show-all">Show all</a>
                        <div class="comment">
                            <img src="../niko.jpg"/>
                            <label>Niko Bellic</label>
                            <label>2 mins</label>
                            <p>hello, I'm niko bellic, welcoming you from ukraine</p>
                        </div>
    
                        <div class="comment">
                            <img src="../niko.jpg"/>
                            <label>Niko Bellic</label>
                            <label>2 mins</label>
                            <p>hello, I'm niko bellic, welcoming you from ukraine</p>
                        </div>
                        <div class="comment">
                            <img src="../niko.jpg"/>
                            <label>Niko Bellic</label>
                            <label>2 mins</label>
                            <p>hello, I'm niko bellic, welcoming you from ukraine</p>
                        </div>
    
                        <div class="comment">
                            <img src="../niko.jpg"/>
                            <label>Niko Bellic</label>
                            <label>2 mins</label>
                            <p>hello, I'm niko bellic, welcoming you from ukraine</p>
                        </div>
    
                        <div class="comment-input">
                                <textarea placeholder="add comment ..." a></textarea>
                                <button>comment</button>
                        </div>
                        
                    </div>
                </div>
            </div>
    
            <div class="post">
                <div class="head">
                    <img src="../niko.jpg"/>
                    <div>
                        <a class="name">Amr Hossam  sayed Amin Mohamed Mohamed</a>
                        <label class="time">2 hours</label>
                    </div>
                    <button class="drop-down-btn"><i class="fas fa-ellipsis-v" ></i></button>
                </div>
                <div class="content">
                    fnjdngs sgsdfg
                    dfgdgfd mkmf sdsldfsdf  sdflksdnf s fkjsd k sf
                </div>
                <div class="tail">
                    <div class="like"><a><i class ="fas fa-thumbs-up"></i></a></div>
                    <div class="dislike"><a><i class ="	fas fa-thumbs-down"></i></a></div>
                    <div class="comment-btn"><a><i class ="far fa-comment"></i></a></div>  
                    <div class="share"><a><i class ="fa fa-share-alt"></i></a></div>   
                    <div class="comments">
                        <a href="" class="show-all">Show all</a>
                        <div class="comment">
                            <img src="../niko.jpg"/>
                            <label>Niko Bellic</label>
                            <label>2 mins</label>
                            <p>hello, I'm niko bellic, welcoming you from ukraine</p>
                        </div>
    
                        <div class="comment">
                            <img src="../niko.jpg"/>
                            <label>Niko Bellic</label>
                            <label>2 mins</label>
                            <p>hello, I'm niko bellic, welcoming you from ukraine</p>
                        </div>
                        <div class="comment">
                            <img src="../niko.jpg"/>
                            <label>Niko Bellic</label>
                            <label>2 mins</label>
                            <p>hello, I'm niko bellic, welcoming you from ukraine</p>
                        </div>
    
                        <div class="comment">
                            <img src="../niko.jpg"/>
                            <label>Niko Bellic</label>
                            <label>2 mins</label>
                            <p>hello, I'm niko bellic, welcoming you from ukraine</p>
                        </div>
    
                        <div class="comment-input">
                                <textarea placeholder="add comment ..." a></textarea>
                                <button>comment</button>
                        </div>
                        
                    </div>
                </div>
            </div>
    
        </div>
        
    </div>



</body>

<script src="../scripts/client/user.js"></script>
</html>