<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sign Up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/scripts/client/verification.js"></script>
</head>
<body>
    <h2> Enter the verification code </h2>
    <input type="text" />
    <button onclick="verify_user()">Verify</button>
    <br>
    <button onclick="resend_code()">Resend code</button>
</body>
</html>